# Telegraf configuration - managed by Ansible

[global_tags]
  host = "{{ inventory_hostname }}"

[agent]
  interval = "30s"
  round_interval = true
  flush_interval = "30s"

###############################################################################
#                            OUTPUT PLUGINS                                   #
###############################################################################

[[outputs.influxdb]]
  urls = ["{{ telegraf_victoriametrics_url }}"]
  database = "telegraf"
  skip_database_creation = true

###############################################################################
#                            INPUT PLUGINS                                    #
###############################################################################

[[inputs.cpu]]
  percpu = false
  totalcpu = true

[[inputs.mem]]

[[inputs.disk]]
  mount_points = ["/", "/mnt/backups"]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]

[[inputs.diskio]]

[[inputs.net]]

[[inputs.system]]

[[inputs.processes]]

{% if telegraf_collect_docker | bool %}
[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  timeout = "5s"

{% endif %}
{% if telegraf_collect_postgres | bool %}
[[inputs.postgresql]]
  address = "{{ telegraf_postgres_address }}"

[[inputs.postgresql_extensible]]
  address = "{{ telegraf_postgres_address }}"

  [[inputs.postgresql_extensible.query]]
    sqlquery = "SELECT wal_records, wal_fpi, wal_bytes, wal_buffers_full, wal_write, wal_sync, wal_write_time, wal_sync_time FROM pg_stat_wal"
    version = 140
    withdbname = false
    tagvalue = ""
    measurement = "pg_stat_wal"

  [[inputs.postgresql_extensible.query]]
    sqlquery = "SELECT archived_count, failed_count, EXTRACT(EPOCH FROM (now() - last_archived_time))::int AS seconds_since_last_archive FROM pg_stat_archiver"
    version = 140
    withdbname = false
    tagvalue = ""
    measurement = "pg_stat_archiver"

  [[inputs.postgresql_extensible.query]]
    sqlquery = "SELECT count(*) AS replication_slots, coalesce(sum(active::int), 0) AS active_slots FROM pg_replication_slots"
    version = 140
    withdbname = false
    tagvalue = ""
    measurement = "pg_replication_slots"

{% endif %}
{% if telegraf_collect_nomad | bool %}
[[inputs.nomad]]
  url = "{{ telegraf_nomad_url }}"

{% endif %}
{% if telegraf_collect_frigate | bool %}
[[inputs.exec]]
  commands = ["/usr/local/bin/frigate-stats.sh"]
  timeout = "5s"
  data_format = "influx"
  name_suffix = ""

{% endif %}
