#!/bin/bash
set -euo pipefail

export RESTIC_PASSWORD_FILE=/etc/restic/password

{% if restic_enable_local_repo | bool %}
source /etc/restic/s3.env

# Prune local repo
restic -r {{ restic_local_repo }} forget \
  --keep-daily {{ restic_keep_daily }} \
  --keep-weekly {{ restic_keep_weekly }} \
  --keep-monthly {{ restic_keep_monthly }} \
  --prune

{% endif %}
source /etc/restic/s3.env

# Prune S3 repo
restic -r {{ restic_s3_repo }} forget \
  --keep-daily {{ restic_keep_daily }} \
  --keep-weekly {{ restic_keep_weekly }} \
  --keep-monthly {{ restic_keep_monthly }} \
  --prune

{% if restic_enable_b2_repo | bool %}
source /etc/restic/b2.env

# Prune B2 repo
restic -r {{ restic_b2_repo }} forget \
  --keep-daily {{ restic_keep_daily }} \
  --keep-weekly {{ restic_keep_weekly }} \
  --keep-monthly {{ restic_keep_monthly }} \
  --prune

{% endif %}
echo "Restic prune completed at $(date)"
