[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User=caddy
Group=caddy
ExecStart={{ caddy_binary_path }} run --environ --config {{ caddy_config_dir }}/Caddyfile
ExecReload={{ caddy_binary_path }} reload --config {{ caddy_config_dir }}/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ caddy_data_dir }}
EnvironmentFile={{ caddy_config_dir }}/env

[Install]
WantedBy=multi-user.target
